@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css');
@import url('https://fonts.googleapis.com/css2?family=Gaegu&family=Gamja+Flower&display=swap');

@font-face {
   font-family: 'HakgyoansimBunpilR';
   src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/HakgyoansimBunpilR.woff2')
      format('woff2');
}

* {
   font-family: 'pretendard', sans-serif;
   color: #222;
}
body {
   margin: 0;
   padding: 0;
}

ul {
   list-style: none;
   padding: 0;
   margin: 0;
}

::-webkit-scrollbar {
   width: 5px;
   height: 5px;
}

::-webkit-scrollbar-thumb {
   height: 30%;
   background: skyblue;
   border-radius: 10px;
}

::-webkit-scrollbar-track {
   background: rgba(33, 122, 244, 0.1);
}

header {
   padding-top: 30px;
   border-bottom: 1px solid #ddd;
}

header > nav ul {
   display: flex;
   align-items: center;
}
header > nav li {
   padding: 20px;
}
header > nav a {
   text-decoration: none;
}
header > nav li:hover a {
   font-weight: bold;
}

.banner {
   background-image: url(../../public/images/sky.jpg);
   background-size: cover;
   background-position: bottom;
   border-radius: 10px;
}

.gradation {
   background: linear-gradient(#48b6d6, #ddf1f7);
}
