/* font-import */
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css');
@font-face {
   font-family: 'HakgyoansimBunpilR';
   src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/HakgyoansimBunpilR.woff2')
      format('woff2');
}

/* css-reset */
* {
   font-family: 'pretendard', sans-serif !important;
   color: #222;
   margin: 0;
   padding: 0;
}
ul {
   list-style: none;
}
.wrap {
   margin: 0 auto 50px;
   max-width: 1200px;
   overflow: hidden;
   padding: 0 10px;
   min-height: 800px;
}

/* defult-setting */
h4 {
   padding: 10px 0;
   font-size: 18px;
}
p {
   padding: 2px 0;
   font-size: 15px;
}

/* custom-scrollbar */

::-webkit-scrollbar {
   width: 8px;
   height: 8px;
}
::-webkit-scrollbar-thumb {
   height: 30%;
   background: #ddd;
   border-radius: 10px;
}
::-webkit-scrollbar-track {
   background: #eee;
}

/* header-meue */

header {
   margin: 0 auto;
   max-width: 1200px;
   padding: 10px;
}
header > nav ul {
   display: flex;
   align-items: center;
   border-bottom: 1px solid #ddd;
}
header > nav li {
   padding: 20px;
}
header > nav a {
   text-decoration: none;
}
header > nav li:hover a {
   font-weight: bold;
}

/* card-background */
.gradation {
   background: linear-gradient(#ffffff00, #ffffffc7);
}

@media (max-width: 600px) {
   header {
      padding-top: 5px;
   }
   header > nav ul {
      display: flex;
      justify-content: end;
   }
   header > nav li {
      padding: 10px;
      font-size: 14px;
   }
   header > nav li:first-of-type {
      float: left;
      margin-right: auto;
   }
   header > nav a {
      text-decoration: none;
   }
   header > nav li:hover a {
      font-weight: bold;
   }
}
